$primario-color: #ffefe7;
$second-color: #ffdac6;
$tertiary-color: #BABd8D;
$primary-text-color: #7c6a0a;
$font-stack: "IBM Plex Sans";
$paragraph-size: 1.5rem;
$quarternion-color: #fa9500;

@mixin flexCenter($direccion, $content, $align) {
    display: flex;
    flex-direction: $direccion;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
        &:hover {
            transform: scale(1.1);
            transition: transform 0.5s;

    }
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: $primario-color;
    font-family: $font-stack;
}

nav {
    width: auto;
    @include flexCenter(row, space-between, center);
    color: $primary-text-color;
    padding: 20px;
    border-bottom: 1px solid $primary-text-color;
    margin-bottom: 40px;

    p {
        font-size: 1.5rem;
        padding-left: 20px;
        font-weight: bold;
    }

    .icons {
        display: flex;
        gap: 10px;
        @include buttonStyle;
    }
}

main {
    background-color: $primario-color;
    font-size: 1.2rem;

    article {
        color: $primary-text-color;
        width: auto;
        @include flexCenter(row, space-around, center);

        .impact-section {
            display: flex;
            flex-direction: column;
            padding-top: 50px;
            gap: 25px;

            h1 {
                font-size: 3em;
                margin: 0;
                padding: 0;
            }

            p {
                font-size: $paragraph-size;
            }

            button {
                @include buttonStyle;
                width: 12vw;
                padding: 20px;
                background-color: $quarternion-color;
                border-radius: 35px;
                color: white;
                font-size: 1rem;
                &:hover {
                    transform: scale(1.1);
                    transition: transform 0.5s;

            }
            }
            
        } .image-section {
            img {
                width: 25vw ;
                border-radius: 19px;
            }
        
        }

    }

    section {
        width: auto;
        height: auto;

        h2 {
            color: $primary-text-color;
            font-size: 1.7rem;
        }

        .healthcare {
            padding-bottom: 60px;

            h2 {
                font-weight: bold;
                padding-bottom: 40px;
                margin-left: 40px;
            }

            .card-section {
                @include flexCenter(row, space-evenly, center);
                width: auto;
                height: auto;
                padding: 20px;
                flex-wrap: wrap;
                column-gap: 100px;
                row-gap: 80px;

                .product-cart {
                    width: 14vw;
                    height: 34vw;
                    background-color: $second-color;
                    color: $primary-text-color;
                    padding: 20px;
                    border-radius: 20px;

                    .icons {
                        display: flex;
                        width: 100%;
                        justify-content: flex-end;
                        padding-bottom: 12px;

                        svg {
                            width: 28px;
                            height: 28px;
                        }
                    }

                    .product-image {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 12vw;
                            height: 20vw;
                            object-fit: cover;
                            border-radius: 6px;
                        }
                    }
                }
            }
        }

        .furniture {
            @extend .healthcare;

            .product-cart {
                background-color: $tertiary-color !important;
                color: white !important;
            }
        }
    }

    .about-us {
        padding-bottom: 60px;
        padding: 0 60px;
        h2 {
            font-weight: bold;
            padding-bottom: 60px;
        }
        .mision-section {
            @include flexCenter(row, space-evenly, center);
            .earth {
                display: flex;
                gap: 40px;
                width: 35vw;
                color: #E86424;
                img {
                    object-fit: contain;
                }
                p {
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
            .innovation {
                @extend .earth;
            }
        }
    }
    .gallery {
        padding: 60px;
        .gallery-images {
            @include flexCenter(row, space-between, center);
            img{
                width: 30vw;
                height: 30vw;
                object-fit: cover;
                border-radius: 20px;
                object-position: 5px 45%;
                &:hover {
                    transform: scale(1.1);
                    transition: transform 0.5s;

            }
            }
        }
    }
        .location {
            padding: 0 60px;

            h2 {
                font-weight: bold;
            }
            .map {
                @include flexCenter(row, center, center);
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                }                
            }
            h3 {
                font-weight: bold;
                font-size: 1.5rem;
                color: $quarternion-color;
                margin-bottom: 1px;
            }
            p {
                font-size: 1rem;
                color: $quarternion-color;
                margin-top: -3px;
                margin-bottom: 60px;
            }
        }
}
    .footer {
        $background: #fa9500;
        background-color: $background;
        width: 100%;
        height: auto;
        padding: 40px;
        color: white;
        h3 {
            font-size: 1.8rem;
            font-weight: bold;
        }
        p {
            font-size: 1.3rem;
            padding-top: 5px;
        }
        .social-media {
            @include flexCenter(row, center, center);
            gap: 20px;
        }
    }
